<%- include('../includes/head.ejs')  %> 
<link rel="stylesheet" href="/css/index.css">
<head>

<body>
    <%- include('../includes/navigation.ejs')  %> 

  <main>
      <% if(prods.length>0){%>
      <div class="grid">
          <% for(let product of prods) { %>
          
          <article class="product__item">
            <div>
              <header class="title__header">
                  <h1 class="title"><%=product.title%></h1>
              </header>
            </div>

         <div class="image__container">
              <img src="<%=product.imageUrl%>" alt="<%=product.title%>">
          </div>

          <div>
            <p class="caption"><%=product.content%></p>
          </div>
          <div class="parent_buttons_container">
          <div class="buttons__container">
          <form class="form__admin" action="/delete-post/<%=product._id  %> " method="POST">
            <input type="hidden" name="id" value="<%=product._id%> ">
            <input type="hidden" name="title" value="<%=product.title%> ">
            <input type="hidden" name="imageUrl" value="<%=product.imageUrl%> ">
            <input type="hidden" name="content" value="<%=product.content%> ">
            <button type="submit" class="delete-btn btn_admin">Delete</button>
            <button class="edit-btn btn_admin"><a href="/edit-post/<%=product._id%> ">Edit</a></button>
            <button  class="all-comments-admin btn_admin" ><a href="/post/<%=product._id%>">comments</a></button>
            
          </form>

          </div>
          </div>
        </article>

        <% } %>
      </div>
      <% } else{ %>
        <h3>You have not posted anything yet </h3>
        <h4><a class="link" href="/add-posts">Add a new post</a><h4>
        
        <% } %>

        
   </main>

    <%- include('../includes/end.ejs') %> 

