<header class="nav__header">
    <nav class="nav">
        <ul class="main__items">
            <li class="nav__items home"><a class="<%= path==='/'?'active':'nill' %> " href="/">Home</a></li>
            <% if(isAuthenticated){ %> 
            <li class="nav__items"><a class="<%= path==='/posts'?'active':'nill' %>" href="/my-posts">Profile</a></li>
            <li class="nav__items"><a class="<%= path==='/add-post'?'active':'nill' %>" href="/add-posts">Add</a></li>
            <% } %> 
        </ul>
        <ul class="auth__items">
            <% if(!isAuthenticated){ %> 
           <li class="nav__items"><a class="<%= path==='/login'?'active':'nill' %>" href="/login">Login</a></li>
           <li class="nav__items sign-up" style="z-index: 100;"><a class="<%= path==='/sign-up'?'active':'nill' %>" style="z-index: 100;" href="/signup">Sign up</a></li>
            <% } else{ %>  
           <li class="logout__container">
                <form action="/logout" method="POST" >
                 <button type="submit" class="logout__btn">Logout</button>
                </form> 
            </li>
        <% } %> 
            
        </ul>
    </nav>
</header>

